.wrapper {
  display: inline-grid;
  box-sizing: border-box;
  font-size: 10px;
}

.markTitleBox {
  text-align: center;
}

.scrubberBox {
  cursor: pointer; 
}

.mark {
  min-height: 5px;
  min-width: 5px;
  box-sizing: border-box;
  display: inline-block;
}

.leftBox {
  min-height: 5px;
  min-width: 5px;
  height: 1%;
  border-right: solid 1px black;
  width: 50%;
}

.rightBox {
  min-width: 5px;
  min-height: 5px;
  height: 1%;
  width: 50%;
}

.mark:hover { 
  background-color: lightgrey;
}

.playhead {
  height: 4px;
  width: 4px;
  background-color: black;
  position: relative;
  left: 40%;
  top: -50%;
}

.bigMark {
  min-height: 8px;
}
