@keyframes fade {
    from {border-right: #000;}
    to {border-left: #984ea3;}
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #000;
  cursor: pointer;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right: 20px solid #000;
  cursor: pointer;
}

.arrow-right:active {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-left: 20px solid #984ea3;
  animation-name: fade;
}

.arrow-left:active {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right: 20px solid #984ea3;
  animation-name: fade;
}

.body-wrapper {
  padding: 10px;
  background: white;
  border-radius: 10px;
}
