.wrapper {
  display: inline-grid;
  box-sizing: border-box;
  font-size: 10px;
}

.markTitleBox {
  text-align: center;
}

.scrubberBox {
  cursor: pointer; 
}

.mark {
  min-height: 5px;
  min-width: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.leftBox {
  min-height: 5px;
  min-width: 5px;
  border-right: solid 1px black;
  width: 50%;
}

.rightBox {
  min-width: 5px;
  min-height: 5px;
  width: 50%;
}

.mark:hover { 
  background-color: lightgrey;
}

.playheadWrapper {
  z-index: 500; 
  position: absolute;
}

.playhead {
  position: relative;
}

.circle {
  border-radius: 50%;
  background-color: black;
  min-width: 5px;
  min-height: 5px;
  position: absolute;
}


