.panel2 {
  position: absolute;
  left: 10px;
  border: none;
  background: rgba(255, 25551, 255153, .6);
  color: rgba(0, 0, 0, 1);
  min-height: 100px;
  max-width: 200px;
}

.x-70 {
  top: 70%;
}

.selected {
  font-weight: bold;
}
