.circle {
  width: 10px;
  margin: 5px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.legend-box {
  min-width: 160px;
  line-height: 20px;
  font-family: monospace;
}

.mark-key {
  text-align: left;
  float: left;
  font-weight: bold;
  font-size: 90%;
  overflow-x: ellipse;
}

.mark-value {
  float: right;
}

.legend-title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
}

.mark-box {
  padding-left: 0.5em;
  padding-top: 0.5em;
}
