.circle {
  width: 10px;
  margin: 5px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.mark {
  line-height: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.mark-key {
  text-align: left;
  font-weight: bold;
  font-size: 90%;
  overflow-x: ellipse;
}

.mark-value {
}

.legend-title {
  text-align: right;
  padding-right: 19px;
  grid-area: legendtitle;
}

.mark-box {
  grid-area: markbox;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.legend-box {
  display: grid;
  grid-template-rows: 1fr 100px;
  grid-template-columns: 50px 1fr;
  font-family: monospace;
  background: white;
  border-radius: 5px;
  width: 160px;
  align-items: stretch;
  grid-template-areas: "legendtitle legendtitle"
                       "markbox markbox"
                       "markbox markbox"
                       "markbox markbox"
		       "markbox markbox";
}
