h1 {
  grid-area: header;
  font-size: 20px;
  font-family: monospace;
}

.viewport {
  grid-area: viewport;
}

.legend {
  grid-area: legend;
}
.year-picker {
  grid-area: year-picker;
  font-family: monospace;
}
.play-button {
  grid-area: play-button;
}
.filter-switch {
  grid-area: filter-switch;
}
.waypoint-selector {
  grid-area: waypoint-selector;
}
.mainbox {
  display: grid;
  /*grid-template-rows: 1fr 200px; */
  grid-template-columns: 300px 1fr;
  grid-template-areas: "storybox viewport"
}

.originbox {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  line-height: 22px;
  border-radius: 10px;
  width: 400px;
  position: absolute;
  z-index: 100;
  top: 33%;
  margin: 5%;
  right: 0;
  font-family: monospace;
}

.originbox h1 {
  white-space: pre;
}

.startBtn {
  margin-left: 10px;
  margin-top: 20px;
  float: left;
  font-size: 22px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.storybox {
  grid-area: storybox;
  display: grid;
  margin: 10px;
  grid-template-areas: "header header"
                       "legend year-picker"
                       "filter-switch play-button"
		       "waypoint-selector waypoint-selector";
}


.legend-floating {
  position: absolute;
  z-index: 100;
  top: 0;
  margin: 5%;
  right: 5px;
  font-family: monospace;
}

.hide {
  display: none;
}
