body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}

.parent {
  display: flex;
}

.child {
  width: 40%;
  min-width: 20em;
}

.child--featured {
  flex-grow: 1;
};

.panel {
  margin: 10px;
  padding: 10px;
  border: none;
  background: rgba(210, 210, 210, .9);
  color: rgba(0, 0, 0, 1);
  top: 100px;
  height: 90%;
  max-width: 25em;
  min-width: 20em;
  min-height: 100px;
  z-index: 5;
}

@media screen and (max-width: 996px) {
 .panel {
    border: none;
    background: rgba(2, 255, 255, .9);
    color: rgba(0, 0, 0, 1);
    top: 100px;
    height: 100%;
    max-width: 25em;
    min-width: 20em;
    min-height: 100px;
    z-index: 5;
  }
}
