.panel {
  position: absolute;
  left: 10px;
  border: none;
  background: rgba(255, 25551, 255153, .6);
  color: rgba(0, 0, 0, 1);
  top: 100px;
  width: 200px;
  min-height: 100px;
}

.embed {
  margin: 10px;
  text-overflow: ellipsis;
  overflow-x: overlay;
}

.key {
  font-weight: bold;
  text-align: left;
}

.value {
  text-align: right;
}
